body {
    font-family: 'Arial';
    margin: 0;
    height: 100vh;
    padding: 0;
    border: 0;
    font-size: 16px;
    color: #333;
}
.form {
    font-family: 'Arial';
    background-color: #fff;
    height: 280px;
    width: 450px;
    border-radius: 8px;
    margin: 20px auto 20px auto;
    display: block;
    text-align: center;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 40px 0 #ddd;
}
.form:hover {
    box-shadow: 0 0 60px 0 #b4b4b4;
    transition: .4s;
    transform: scale(1.02);
}
.row-one {
    padding: 20px;
}
.row-two {
    padding: 20px;
}
.text-input {
    width: 60px;
    height: 20px;
    border-radius: 4px;
    background-color: #dbeffe;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
}
.text-input:last-child {
    margin-bottom: 35px;
}
.text-input:hover {
    background-color: #cbe7fd;
}
#submit {
    font-family: 'Arial';
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 140px;
    background-color: #000050;
    color: #fff;
    margin:25px auto;
    display: block;
    outline: none;
    cursor: pointer;
}
#submit:hover{
    background-color: #0a8ef2;
}
.text {
    display: inline-block;
    margin: 15px 20px 15px 8px;
}
.row-one {
    padding: 30px 20px 15px 20px;
}
.row-two {
    padding: 15px 20px 30px 20px;
}
.container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 12px;
    left: 7px;
    height: 25px;
    width: 25px;
    background-color: #dbeffe;
    border-radius: 50%;
}
.container:hover input ~ .checkmark {
    background-color: #cbe7fd;
}
.container input:checked ~ .checkmark {
    background-color: #289df6;
}
h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #289df6;
    padding-top: 15px;
    display: block;
}
h2 {
    font-family: 'Arial';
    font-size: 22px;
    font-weight: 300;
    color: #000050;
    text-align: center;
}
h3 {
    font-size: 27px;
    text-align: center;
    padding: 20px;
    color: #000050;
    border-bottom: 1px dashed #a4a4a4;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}